In [1]:
!pip install pandas pymongo openpyxl

Requirement already satisfied: pandas in c:\users\thinkpad\onedrive\documents\miniconda\lib\site-packages (2.2.3)
Requirement already satisfied: pymongo in c:\users\thinkpad\onedrive\documents\miniconda\lib\site-packages (4.13.0)
Requirement already satisfied: openpyxl in c:\users\thinkpad\onedrive\documents\miniconda\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.22.4 in c:\users\thinkpad\onedrive\documents\miniconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\thinkpad\onedrive\documents\miniconda\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\thinkpad\onedrive\documents\miniconda\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thinkpad\onedrive\documents\miniconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\thinkpad\onedrive\documents\miniconda\lib\site-packages (from pymongo) (2.7.0)
Requirement already satisfied: et-xmlfile in c:\users\thinkpad\onedrive\documents\miniconda\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\thinkpad\onedrive\documents\miniconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
from pymongo import MongoClient

In [3]:
import pandas as pd
df = pd.read_excel("C:/Users/ThinkPad/OneDrive/Documents/Semester 6/Organisasi Big Data/Retail_Transaction_Dataset.xlsx")  
df.head()

,CustomerID,ProductID,Quantity,Price,TransactionDate,PaymentMethod,StoreLocation,ProductCategory,DiscountApplied(%),TotalAmount
0,109318,C,7,80.079844,2023-12-26 12:32:00,Cash,"176 Andrew Cliffs\nBaileyfort, HI 93354",Books,18.677100,455.862764
1,993229,C,4,75.195229,2023-08-05 00:00:00,Cash,"11635 William Well Suite 809\nEast Kara, MT 19483",Home Decor,14.121365,258.306546
2,579675,A,8,31.528816,2024-03-11 18:51:00,Cash,"910 Mendez Ville Suite 909\nPort Lauraland, MO...",Books,15.943701,212.015651
3,799826,D,5,98.880218,2023-10-27 22:00:00,PayPal,"87522 Sharon Corners Suite 500\nLake Tammy, MO...",Books,6.686337,461.343769
4,121413,A,7,93.188512,2023-12-22 11:38:00,Cash,"0070 Michelle Island Suite 143\nHoland, VA 80142",Electronics,4.030096,626.030484

In [4]:
client = MongoClient("mongodb://localhost:27017/")
db = client["transaction_db"]
collection = db["data_transaction"]

In [5]:
data = df.to_dict(orient='records')

if data:
    collection.insert_many(data)
    print(f"{len(data)} dokumen berhasil dimasukkan ke MongoDB!")
else:
    print("Data kosong.")

100000 dokumen berhasil dimasukkan ke MongoDB!